*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(tvd.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ac0808;
    font-size: 35px;
    font-family: Sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ac0808;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid #ac0808;
    margin-top: 13px;
    color: #fff;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 10px;
    
}

.btn{
  font-family: 'Times New Roman';
    width: 100px;
    height: 40px;
    background: #ac0808;
    border: 2px solid #ac0808;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    float: right;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline:none;
}

.content{
    width: 1200px;
    height: 100px;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 100px;
    margin: auto;
    color: #ac0808;
    position: fixed;
}

.content .par{
  padding-left: 20px;
  font-size: 20px;
  padding-bottom: 25px;
  font-family: Helvetica;
  color: #fff;
  letter-spacing: 1.2px;
  line-height: 30px;
}

body {
  background-color: #530606;
  font-family: "Helvetica bold", sans-serif;
}

img {
  width: 100%;
}

img {
  border: 1px solid #ffffff;
  border-radius: 12px;
  height: 214px;
}

img {

  object-fit: cover;
}

#container {
  max-width: 300px;

  /* Center the container in middle on horizontal axis */
  margin: 0 auto;

  /* Add empty space above the container (20% of the view height) */
  margin-top: 20vh;
  margin-right: 100px;
}

.card {
  /* Change background color */
  background-color: rgb(48, 0, 0);

  /* Add border */
  border: 5px solid #1b0000;

  /* Add space between the border and the content */
  padding: 8px;

  border-radius: 12px;
}

/* Style div elements that have class equal to tag */
.tag {
  padding: 4px 8px; 
  border: 1px solid #ff1313;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #0475ff;
}

/* Style div elements that have class equal to name */
.name {
  font-size: 24px;
  font-family: 'Kalam';font-size: 22px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 16px;
}

/* Style p element */
p {
  font-size: 14px;
  font-family: 'Franklin Gothic Medium';
  color: #ff1111;
  line-height: 150%;
}

/* Style button element */
button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;

  font-weight: 600;
  color: #ffffff;
  background-color: #910a0a;

  /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
  margin: 0 auto;
  display: block;

  /* Button is a clickable element, therefore it should have a pointer cursor */
  cursor: pointer;
}

.card__details {
  /* Add space around the details */
  padding: 16px 8px 8px 8px;
}

/* Add style when button is focused or hovered */
button:focus,
button:hover {
  background-color: #ec3535;
  color: #e0efff;
}

  